<div class="page-product">
  <button class="back-btn" (click)="goToBack()">
    <svg xmlns="https://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
    </svg>
    Back
  </button>
  <div class="detail" *ngIf="product">
    <div class="gallery">
      <swiper [slidesPerView]="1" [autoHeight]="true">
        <ng-template swiperSlide *ngFor="let img of product?.images">
          <img [src]="img" [alt]="product.title" />
        </ng-template>
      </swiper>
    </div>
    <div class="product-info">
      <h1 class="title">{{ product.title }}</h1>
      <h2 class="price">{{ product.price | currency: 'PYG ' }}</h2>
      <p class="description">{{ product.description }}</p>
    </div>
  </div>
</div>
